html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  /* Color */
  --color-layoutContainer-background: #0f0f0f;
  --color-light-white: #e7e3e3;
  --color-selected: #493bc0;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: var(--color-light-white);
}

ul,
li {
  list-style: none;
}

/* layoutContainer */
.layoutContainer {
  position: relative;
  background-color: var(--color-layoutContainer-background);
  padding: 4px;
}
.layoutContainerMenu {
  display: flex;
  justify-content: space-around;
}

.layoutContainerMenuItem {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  padding: 8px 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.outline {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 5px solid white;
  border-radius: 10px;
  pointer-events: none;
}

.layoutContainerMenuItem a {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
}
/* 
.loading {
  background: linear-gradient(250deg, #4299eb, #8b7ab9);
  background-repeat: no-repeat;
  color: #b3aee2;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  transition: all 300ms ease-out;
}

.loading-text {
  font-size: 50px;
} */

/* Gallery */

.gallery {
  background: linear-gradient(250deg, #6c7981, #aa94e6);
  padding: 40px;
  min-height: 900px;
  position: relative;
  margin: 0;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail {
  flex: 1 0 33%;
  margin: 10px; /* 간격 */
  display: flex;
  justify-content: center;
  cursor: pointer;
  max-width: 800px;
  min-width: 300px;
}

.frame {
  overflow: hidden; /* frame 크기보다 사진크기가 더 클경우, 잘린부분은 숨김처리 */
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

h1 {
  font-size: 100px;
  text-align: center;
  position: fixed; /* 스크롤을 내려도 쫓아오게 */
  bottom: -100px;
  z-index: 1; /* 맨 앞으로 나오게 하기 위한 코드 */
  color: #f9fbf8;
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
  pointer-events: none; /* 글씨에 pointer 이벤트 없애기 */
}

/* .single {
  overflow: hidden;
  height: 100vh;
}

.single img {
  max-width: 100%;
  max-height: 100vh;
}

.back {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 54px;
  z-index: 1;
}

.back a {
  text-decoration: none;
} */

/* 스크린 창에 따라 h1 글씨 크기, 높이 조정 */
@media screen and (min-width: 600px) {
  h1 {
    font-size: 140px;
    bottom: -130px;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 180px;
    bottom: -170px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 220px;
    bottom: -200px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 280px;
    bottom: -260px;
  }
}
