:root {
  /* Color */
  --color-navbar-background: #0f0f0f;
  --color-light-white: #e7e3e3;
  --color-selected: #493bc0;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: var(--color-light-white);
}

ul,
li {
  list-style: none;
}

/* Navbar */
#navbar {
  position: relative;
  width: 100%;
  background-color: var(--color-navbar-background);
  padding: 4px;
}
.navbar__menu {
  display: flex;
  justify-content: space-around;
}

.navbar__menu__item {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  padding: 8px 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.outline {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 5px solid white;
  border-radius: 10px;
  pointer-events: none;
}

.navbar__menu__item a {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
}
